.search-bar {
  position: absolute;
  top: 53px;
  right: 261px;
  width: 260px;
  height: 32px;
}

.search-bar > input {
  width: 100%;
  height: 100%;
  padding: 9px 12px 8px 14px;
  border-radius: 2px;
}

.search-bar > input::placeholder {
  font-size: 12px;
  font-family: AppleSDGothicNeo;
  color: #727272;
}

.search-bar > button {
  width: 54px;
  height: 32px;
  font-size: 0px;
  position: absolute;
  top: -1px;
  right: 0px;
}

.search-bar > button > img {
  width: 31px;
  height: 14px;
}
