.win-rate-summary {
  height: 603px;
}

.win-rate-menu {
  height: 44px;
  line-height: 44px;
  border-bottom: solid 1px #cdd2d2;
}

.win-rate-menu > ul {
  display: flex;
}

.win-rate-menu > ul > li {
  width: 150px;
  text-align: center;
  font-family: AppleSDGothicNeo;
  font-size: 12px;
  font-weight: bold;
  color: #5e5e5e;
  cursor: pointer;
}

.win-rate-menu > ul > li:nth-child(1) {
  border-right: solid 1px #cdd2d2;
}

.win-rate-menu .active {
  background-color: #fff;
}
