.before-search .menu {
  display: flex;
  background-color: rgb(227, 227, 227);
}

.before-search .menu .active {
  background-color: #fff;
}

.before-search .menu > button {
  width: 130px;
  height: 34px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 12px;
  font-weight: bold;
  color: #5e5e5e;
}
