.recent-search {
  position: absolute;
  top: 92px;
  right: 261px;
  width: 260px;
  height: 184px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.recent-search .menu {
  display: flex;
  background-color: #fff;
}

.recent-search .menu > button:nth-child(2) {
  background-color: rgb(227, 227, 227);
}

.recent-search .menu > button {
  width: 130px;
  height: 34px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 12px;
  font-weight: bold;
  color: #5e5e5e;
}

.recent-search .item {
  display: flex;
  height: 30px;
  padding: 8px 16px;
  background-color: #fff;
}

.recent-search .item > a {
  flex: 1 1 0%;
  font-size: 12px;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #44515c;
  cursor: pointer;
}
