.match-detail-list {
  position: relative;
  height: 100%;
}

.match-detail-list > ul > li {
  height: 96px;
  margin-bottom: 8px;
  background-color: #d6b5b2;
}

.match-detail-list .isWin {
  background-color: #5383e8;
}
