* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

input {
  border: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  cursor: pointer;
}

.app {
  width: 1440px;
  height: 1819px;
  margin: auto;
  background-color: #eaeaea;
}

.avatar-sm {
  width: 36px;
  height: 36px;
}

.avatar-sm > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-md {
  width: 45px;
  height: 45px;
}

.avatar-md > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid 1px #cdd2d2;
}
