* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

input {
  border: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  cursor: pointer;
}

.app {
  width: 1440px;
  height: 1819px;
  margin: auto;
  background-color: #eaeaea;
}
